package icons

// Renders the Lucide icon align-horizontal-justify-end.
templ AlignHorizontalJustifyEnd(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-align-horizontal-justify-end", attrs) }
	>
		<rect width="6" height="14" x="2" y="5" rx="2"></rect>
		<rect width="6" height="10" x="12" y="7" rx="2"></rect>
		<path d="M22 2v20"></path>
		{ children... }
	</svg>
}
