package icons

// Renders the Lucide icon align-right.
templ AlignRight(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-align-right", attrs) }
	>
		<path d="M21 12H9"></path>
		<path d="M21 18H7"></path>
		<path d="M21 6H3"></path>
		{ children... }
	</svg>
}
