package icons

// Renders the Lucide icon align-start-vertical.
templ AlignStartVertical(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-align-start-vertical", attrs) }
	>
		<rect width="9" height="6" x="6" y="14" rx="2"></rect>
		<rect width="16" height="6" x="6" y="4" rx="2"></rect>
		<path d="M2 2v20"></path>
		{ children... }
	</svg>
}
