package icons

// Renders the Lucide icon app-window-mac.
templ AppWindowMac(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-app-window-mac", attrs) }
	>
		<rect width="20" height="16" x="2" y="4" rx="2"></rect>
		<path d="M6 8h.01"></path>
		<path d="M10 8h.01"></path>
		<path d="M14 8h.01"></path>
		{ children... }
	</svg>
}
