package icons

// Renders the Lucide icon arrow-up-from-dot.
templ ArrowUpFromDot(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-arrow-up-from-dot", attrs) }
	>
		<path d="m5 9 7-7 7 7"></path>
		<path d="M12 16V2"></path>
		<circle cx="12" cy="21" r="1"></circle>
		{ children... }
	</svg>
}
