package icons

// Renders the Lucide icon arrow-left-circle.
templ ArrowLeftCircle(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-arrow-left-circle", attrs) }
	>
		<circle cx="12" cy="12" r="10"></circle>
		<path d="M16 12H8"></path>
		<path d="m12 8-4 4 4 4"></path>
		{ children... }
	</svg>
}
