package icons

// Renders the Lucide icon arrow-down-right.
templ ArrowDownRight(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-arrow-down-right", attrs) }
	>
		<path d="m7 7 10 10"></path>
		<path d="M17 7v10H7"></path>
		{ children... }
	</svg>
}
