package icons

// Renders the Lucide icon arrow-right-square.
templ ArrowRightSquare(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-arrow-right-square", attrs) }
	>
		<rect width="18" height="18" x="3" y="3" rx="2"></rect>
		<path d="M8 12h8"></path>
		<path d="m12 16 4-4-4-4"></path>
		{ children... }
	</svg>
}
