package icons

// Renders the Lucide icon arrow-left-right.
templ ArrowLeftRight(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-arrow-left-right", attrs) }
	>
		<path d="M8 3 4 7l4 4"></path>
		<path d="M4 7h16"></path>
		<path d="m16 21 4-4-4-4"></path>
		<path d="M20 17H4"></path>
		{ children... }
	</svg>
}
