package icons

// Renders the Lucide icon arrow-left-square.
templ ArrowLeftSquare(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-arrow-left-square", attrs) }
	>
		<rect width="18" height="18" x="3" y="3" rx="2"></rect>
		<path d="m12 8-4 4 4 4"></path>
		<path d="M16 12H8"></path>
		{ children... }
	</svg>
}
