package icons

// Renders the Lucide icon between-vertical-end.
templ BetweenVerticalEnd(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-between-vertical-end", attrs) }
	>
		<rect width="7" height="13" x="3" y="3" rx="1"></rect>
		<path d="m9 22 3-3 3 3"></path>
		<rect width="7" height="13" x="14" y="3" rx="1"></rect>
		{ children... }
	</svg>
}
