package icons

// Renders the Lucide icon bookmark-check.
templ BookmarkCheck(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-bookmark-check", attrs) }
	>
		<path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2Z"></path>
		<path d="m9 10 2 2 4-4"></path>
		{ children... }
	</svg>
}
