package icons

// Renders the Lucide icon chart-no-axes-column-increasing.
templ ChartNoAxesColumnIncreasing(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-chart-no-axes-column-increasing", attrs) }
	>
		<line x1="12" x2="12" y1="20" y2="10"></line>
		<line x1="18" x2="18" y1="20" y2="4"></line>
		<line x1="6" x2="6" y1="20" y2="16"></line>
		{ children... }
	</svg>
}
