package icons

// Renders the Lucide icon check-square.
templ CheckSquare(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-check-square", attrs) }
	>
		<path d="m9 11 3 3L22 4"></path>
		<path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
		{ children... }
	</svg>
}
