package icons

// Renders the Lucide icon check-circle.
templ CheckCircle(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-check-circle", attrs) }
	>
		<path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
		<path d="m9 11 3 3L22 4"></path>
		{ children... }
	</svg>
}
