package icons

// Renders the Lucide icon chevron-up-square.
templ ChevronUpSquare(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-chevron-up-square", attrs) }
	>
		<rect width="18" height="18" x="3" y="3" rx="2"></rect>
		<path d="m8 14 4-4 4 4"></path>
		{ children... }
	</svg>
}
