package icons

// Renders the Lucide icon chevron-down.
templ ChevronDown(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-chevron-down", attrs) }
	>
		<path d="m6 9 6 6 6-6"></path>
		{ children... }
	</svg>
}
