package icons

// Renders the Lucide icon chevrons-right-left.
templ ChevronsRightLeft(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-chevrons-right-left", attrs) }
	>
		<path d="m20 17-5-5 5-5"></path>
		<path d="m4 17 5-5-5-5"></path>
		{ children... }
	</svg>
}
