package icons

// Renders the Lucide icon chevrons-up.
templ ChevronsUp(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-chevrons-up", attrs) }
	>
		<path d="m17 11-5-5-5 5"></path>
		<path d="m17 18-5-5-5 5"></path>
		{ children... }
	</svg>
}
