package icons

// Renders the Lucide icon circle-chevron-down.
templ CircleChevronDown(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-circle-chevron-down", attrs) }
	>
		<circle cx="12" cy="12" r="10"></circle>
		<path d="m16 10-4 4-4-4"></path>
		{ children... }
	</svg>
}
