package icons

// Renders the Lucide icon circle-stop.
templ CircleStop(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-circle-stop", attrs) }
	>
		<circle cx="12" cy="12" r="10"></circle>
		<rect x="9" y="9" width="6" height="6" rx="1"></rect>
		{ children... }
	</svg>
}
