package icons

// Renders the Lucide icon circle-chevron-left.
templ CircleChevronLeft(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-circle-chevron-left", attrs) }
	>
		<circle cx="12" cy="12" r="10"></circle>
		<path d="m14 16-4-4 4-4"></path>
		{ children... }
	</svg>
}
