package icons

// Renders the Lucide icon circle.
templ Circle(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-circle", attrs) }
	>
		<circle cx="12" cy="12" r="10"></circle>
		{ children... }
	</svg>
}
