package icons

// Renders the Lucide icon clock-5.
templ Clock5(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-clock-5", attrs) }
	>
		<circle cx="12" cy="12" r="10"></circle>
		<polyline points="12 6 12 12 14.5 16"></polyline>
		{ children... }
	</svg>
}
