package icons

// Renders the Lucide icon clock-9.
templ Clock9(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-clock-9", attrs) }
	>
		<circle cx="12" cy="12" r="10"></circle>
		<polyline points="12 6 12 12 7.5 12"></polyline>
		{ children... }
	</svg>
}
