package icons

// Renders the Lucide icon clock-10.
templ Clock10(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-clock-10", attrs) }
	>
		<circle cx="12" cy="12" r="10"></circle>
		<polyline points="12 6 12 12 8 10"></polyline>
		{ children... }
	</svg>
}
