package icons

// Renders the Lucide icon copyleft.
templ Copyleft(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-copyleft", attrs) }
	>
		<circle cx="12" cy="12" r="10"></circle>
		<path d="M9.17 14.83a4 4 0 1 0 0-5.66"></path>
		{ children... }
	</svg>
}
