package icons

// Renders the Lucide icon crown.
templ Crown(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-crown", attrs) }
	>
		<path d="m2 4 3 12h14l3-12-6 7-4-7-4 7-6-7zm3 16h14"></path>
		{ children... }
	</svg>
}
