package icons

// Renders the Lucide icon dice-2.
templ Dice2(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-dice-2", attrs) }
	>
		<rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect>
		<path d="M15 9h.01"></path>
		<path d="M9 15h.01"></path>
		{ children... }
	</svg>
}
