package icons

// Renders the Lucide icon ellipsis-vertical.
templ EllipsisVertical(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-ellipsis-vertical", attrs) }
	>
		<circle cx="12" cy="12" r="1"></circle>
		<circle cx="12" cy="5" r="1"></circle>
		<circle cx="12" cy="19" r="1"></circle>
		{ children... }
	</svg>
}
