package icons

// Renders the Lucide icon equal-approximately.
templ EqualApproximately(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-equal-approximately", attrs) }
	>
		<path d="M5 15a6.5 6.5 0 0 1 7 0 6.5 6.5 0 0 0 7 0"></path>
		<path d="M5 9a6.5 6.5 0 0 1 7 0 6.5 6.5 0 0 0 7 0"></path>
		{ children... }
	</svg>
}
