package icons

// Renders the Lucide icon eye-closed.
templ EyeClosed(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-eye-closed", attrs) }
	>
		<path d="m15 18-.722-3.25"></path>
		<path d="M2 8a10.645 10.645 0 0 0 20 0"></path>
		<path d="m20 15-1.726-2.05"></path>
		<path d="m4 15 1.726-2.05"></path>
		<path d="m9 18 .722-3.25"></path>
		{ children... }
	</svg>
}
