package icons

// Renders the Lucide icon framer.
templ Framer(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-framer", attrs) }
	>
		<path d="M5 16V9h14V2H5l14 14h-7m-7 0 7 7v-7m-7 0h7"></path>
		{ children... }
	</svg>
}
