package icons

// Renders the Lucide icon gallery-vertical-end.
templ GalleryVerticalEnd(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-gallery-vertical-end", attrs) }
	>
		<path d="M7 2h10"></path>
		<path d="M5 6h14"></path>
		<rect width="18" height="12" x="3" y="10" rx="2"></rect>
		{ children... }
	</svg>
}
