package icons

// Renders the Lucide icon gantt-chart.
templ GanttChart(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-gantt-chart", attrs) }
	>
		<path d="M8 6h10"></path>
		<path d="M6 12h9"></path>
		<path d="M11 18h7"></path>
		{ children... }
	</svg>
}
