package icons

// Renders the Lucide icon grid-2x2.
templ Grid2X2(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-grid-2x2", attrs) }
	>
		<path d="M12 3v18"></path>
		<path d="M3 12h18"></path>
		<rect x="3" y="3" width="18" height="18" rx="2"></rect>
		{ children... }
	</svg>
}
