package icons

// Renders the Lucide icon list.
templ List(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-list", attrs) }
	>
		<path d="M3 12h.01"></path>
		<path d="M3 18h.01"></path>
		<path d="M3 6h.01"></path>
		<path d="M8 12h13"></path>
		<path d="M8 18h13"></path>
		<path d="M8 6h13"></path>
		{ children... }
	</svg>
}
