package icons

// Renders the Lucide icon mars.
templ Mars(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-mars", attrs) }
	>
		<path d="M16 3h5v5"></path>
		<path d="m21 3-6.75 6.75"></path>
		<circle cx="10" cy="14" r="6"></circle>
		{ children... }
	</svg>
}
