package icons

// Renders the Lucide icon megaphone.
templ Megaphone(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-megaphone", attrs) }
	>
		<path d="m3 11 18-5v12L3 14v-3z"></path>
		<path d="M11.6 16.8a3 3 0 1 1-5.8-1.6"></path>
		{ children... }
	</svg>
}
