package icons

// Renders the Lucide icon mic-2.
templ Mic2(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-mic-2", attrs) }
	>
		<path d="m12 8-9.04 9.06a2.82 2.82 0 1 0 3.98 3.98L16 12"></path>
		<circle cx="17" cy="7" r="5"></circle>
		{ children... }
	</svg>
}
