package icons

// Renders the Lucide icon minus-circle.
templ MinusCircle(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-minus-circle", attrs) }
	>
		<circle cx="12" cy="12" r="10"></circle>
		<path d="M8 12h8"></path>
		{ children... }
	</svg>
}
