package icons

// Renders the Lucide icon mouse-pointer.
templ MousePointer(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-mouse-pointer", attrs) }
	>
		<path d="m3 3 7.07 16.97 2.51-7.39 7.39-2.51L3 3z"></path>
		<path d="m13 13 6 6"></path>
		{ children... }
	</svg>
}
