package icons

// Renders the Lucide icon move.
templ Move(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-move", attrs) }
	>
		<path d="M12 2v20"></path>
		<path d="m15 19-3 3-3-3"></path>
		<path d="m19 9 3 3-3 3"></path>
		<path d="M2 12h20"></path>
		<path d="m5 9-3 3 3 3"></path>
		<path d="m9 5 3-3 3 3"></path>
		{ children... }
	</svg>
}
