package icons

// Renders the Lucide icon move-vertical.
templ MoveVertical(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-move-vertical", attrs) }
	>
		<path d="M12 2v20"></path>
		<path d="m8 18 4 4 4-4"></path>
		<path d="m8 6 4-4 4 4"></path>
		{ children... }
	</svg>
}
