package icons

// Renders the Lucide icon move-horizontal.
templ MoveHorizontal(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-move-horizontal", attrs) }
	>
		<path d="m18 8 4 4-4 4"></path>
		<path d="M2 12h20"></path>
		<path d="m6 8-4 4 4 4"></path>
		{ children... }
	</svg>
}
