package icons

// Renders the Lucide icon move-diagonal.
templ MoveDiagonal(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-move-diagonal", attrs) }
	>
		<path d="M11 19H5v-6"></path>
		<path d="M13 5h6v6"></path>
		<path d="M19 5 5 19"></path>
		{ children... }
	</svg>
}
