package icons

// Renders the Lucide icon panel-bottom-open.
templ PanelBottomOpen(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-panel-bottom-open", attrs) }
	>
		<rect width="18" height="18" x="3" y="3" rx="2"></rect>
		<path d="M3 15h18"></path>
		<path d="m9 10 3-3 3 3"></path>
		{ children... }
	</svg>
}
