package icons

// Renders the Lucide icon parking-square.
templ ParkingSquare(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-parking-square", attrs) }
	>
		<rect width="18" height="18" x="3" y="3" rx="2"></rect>
		<path d="M9 17V7h4a3 3 0 0 1 0 6H9"></path>
		{ children... }
	</svg>
}
