package icons

// Renders the Lucide icon parking-circle.
templ ParkingCircle(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-parking-circle", attrs) }
	>
		<circle cx="12" cy="12" r="10"></circle>
		<path d="M9 17V7h4a3 3 0 0 1 0 6H9"></path>
		{ children... }
	</svg>
}
