package icons

// Renders the Lucide icon pause.
templ Pause(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-pause", attrs) }
	>
		<rect x="14" y="4" width="4" height="16" rx="1"></rect>
		<rect x="6" y="4" width="4" height="16" rx="1"></rect>
		{ children... }
	</svg>
}
