package icons

// Renders the Lucide icon search-code.
templ SearchCode(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-search-code", attrs) }
	>
		<path d="m13 13.5 2-2.5-2-2.5"></path>
		<path d="m21 21-4.3-4.3"></path>
		<path d="M9 8.5 7 11l2 2.5"></path>
		<circle cx="11" cy="11" r="8"></circle>
		{ children... }
	</svg>
}
