package icons

// Renders the Lucide icon separator-horizontal.
templ SeparatorHorizontal(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-separator-horizontal", attrs) }
	>
		<line x1="3" x2="21" y1="12" y2="12"></line>
		<polyline points="8 8 12 4 16 8"></polyline>
		<polyline points="16 16 12 20 8 16"></polyline>
		{ children... }
	</svg>
}
