package icons

// Renders the Lucide icon shield-check.
templ ShieldCheck(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-shield-check", attrs) }
	>
		<path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10"></path>
		<path d="m9 12 2 2 4-4"></path>
		{ children... }
	</svg>
}
