package icons

// Renders the Lucide icon smartphone-charging.
templ SmartphoneCharging(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-smartphone-charging", attrs) }
	>
		<rect width="14" height="20" x="5" y="2" rx="2" ry="2"></rect>
		<path d="M12.667 8 10 12h4l-2.667 4"></path>
		{ children... }
	</svg>
}
