package icons

// Renders the Lucide icon square-check.
templ SquareCheck(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-square-check", attrs) }
	>
		<rect width="18" height="18" x="3" y="3" rx="2"></rect>
		<path d="m9 12 2 2 4-4"></path>
		{ children... }
	</svg>
}
