package icons

// Renders the Lucide icon square-play.
templ SquarePlay(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-square-play", attrs) }
	>
		<rect width="18" height="18" x="3" y="3" rx="2"></rect>
		<path d="m9 8 6 4-6 4Z"></path>
		{ children... }
	</svg>
}
