package icons

// Renders the Lucide icon tally-4.
templ Tally4(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-tally-4", attrs) }
	>
		<path d="M4 4v16"></path>
		<path d="M9 4v16"></path>
		<path d="M14 4v16"></path>
		<path d="M19 4v16"></path>
		{ children... }
	</svg>
}
