package icons

// Renders the Lucide icon tv.
templ Tv(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-tv", attrs) }
	>
		<rect width="20" height="15" x="2" y="7" rx="2" ry="2"></rect>
		<polyline points="17 2 12 7 7 2"></polyline>
		{ children... }
	</svg>
}
