package icons

// Renders the Lucide icon type.
templ Type(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-type", attrs) }
	>
		<polyline points="4 7 4 4 20 4 20 7"></polyline>
		<line x1="9" x2="15" y1="20" y2="20"></line>
		<line x1="12" x2="12" y1="4" y2="20"></line>
		{ children... }
	</svg>
}
