package icons

// Renders the Lucide icon undo.
templ Undo(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-undo", attrs) }
	>
		<path d="M3 7v6h6"></path>
		<path d="M21 17a9 9 0 0 0-9-9 9 9 0 0 0-6 2.3L3 13"></path>
		{ children... }
	</svg>
}
