package icons

// Renders the Lucide icon undo-dot.
templ UndoDot(attrs ...templ.Attributes) {
	<svg
		{ at(attrs)... }
		class={ cn("lucide lucide-undo-dot", attrs) }
	>
		<path d="M21 17a9 9 0 0 0-15-6.7L3 13"></path>
		<path d="M3 7v6h6"></path>
		<circle cx="12" cy="17" r="1"></circle>
		{ children... }
	</svg>
}
